<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <title>Munchies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
   <link rel="stylesheet" th:href="@{/css/general.css}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<link th:href="@{/css/registration.css}" rel="stylesheet">-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>


    <!--&lt;!&ndash; Bootstrap tooltips &ndash;&gt;-->
    <!--<script type="text/javascript"-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>-->
    <!--&lt;!&ndash; MDB core JavaScript &ndash;&gt;-->
    <!--<script type="text/javascript"-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.12/js/mdb.min.js"></script>-->
    <!--<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>-->


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script th:src="@{/js/general.js}" type="text/javascript"></script>



</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/restaurant/home}" title="Home">Munchies</a>

    <div th:insert="login1::myModal"></div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->


            <!--Launch demo modal-->
            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
            <!--Launch demo modal-->
            <!--</button>-->


            <ul class="nav navbar-nav navbar-right">



                <!--<li><a sec:authorize="isAnonymous()" class="btn btn-primary"-->
                        <!--th:href="@{/login}">Login</a></li>-->
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-danger">LOGOUT</a></li>
                <!--<li> <a  href="#loginModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Login</a></li>-->
                <!--<li> <a   role="button" class="btn btn-primary btn-lg" id="mlog">Login1</a></li>-->

                <!--<li><a  sec:authorize="isAnonymous()" href="#loginModal" role="button" class="btn btn-primary" data-toggle="modal">modal</a></li>-->
                <li><a  sec:authorize="isAnonymous()" th:href="@{/login}" role="button" class="btn btn-primary">Login</a></li>


            </ul>
        </form>
    </div>



</nav>


</body>
<div>
</div>
</html>