div #orderUrl{
    border: none;
    border-bottom: 1px solid blue;
    overflow-x: scroll;
}
#send-email{
    visibility: hidden;
}
#mail-not-sent{
    visibility: hidden;
}
#order-sent{
    visibility: hidden;
    color: lime;
}