<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<body>
<nav th:replace="common/header :: navigation"></nav>
<div th:fragment="activeOrders" class="container">
    <h1>Active Orders</h1>
    <table class="table table-striped table-dark table-hover" >
        <caption><i>List of all active orders</i></caption>
        <thead>
        <tr>
            <th scope="col">Creator Name</th>
            <th scope="col">Timeout</th>
            <th scope="col">Items</th>

        </tr>
        </thead>
        <tbody>
        <tr th:rowspan="4" th:each="order:${orders}">
            <!--<input type="hidden" th:field="*{id}"/>-->
            <td th:text="${order.creator}">Creator</td>
            <td  th:field="${order.timeout}" th:id="'timeout'+${order.id}" th:value="${order.timeout}">Timeout</td>
            <td th:switch="${not #lists.isEmpty(order.getItems())}">
                <div th:case="true">
                    <table class="table-sm" id="table-of-orders">
                        <caption><i>List of all Items</i></caption>
                        <thead>
                        <tr>
                            <th scope="col">Creator Name</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody style="overflow-y: scroll" th:height="25px">
                        <tr th:each="item:${order.items}">
                            <td th:text="${item.creator}">Creator</td>
                            <td th:text="${item.itemName}">Item Name</td>
                            <td th:text="${item.price}">Price</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:case="false">
                    <p class="text-info h6">No items in the order</p>
                </div>
            </td>
            <td class="text-center"><a th:href="@{'/restaurant/'+${restaurant.id}+'/addItems/'+${order.id}}"><i
                    class="fa fa-paper-plane mr-1">Add Item</i></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>