<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>
<nav th:replace="common/header :: navigation"></nav>
<div class="container">
    <div class="form-row">


        <div class="form-group col-md-6 border-right border-dark">
            <h2><span>Order Info</span></h2>
            <div class="form-group col-md-6">
                <form action="#" th:object="${order}" method="post">
                    <div class="form-group">
                        <!--<label for="id">ID:</label>-->
                        <!--<label th:field="*{id}" th:text="*{id}"></label>-->
                    </div>
                    <div class="form-group">
                        <label for="countdown">Timeout:</label>
                        <input type="hidden" th:value="${timer}" th:id="timerVal">
                        <label id="countdown" th:value="${timer}"></label>
                    </div>
                    <div class="form-group">
                        <!--<label for="orderUrl">Order URL: </label>-->
                        <input id="orderUrl" text="Order url" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label th:if="*{autoSend and not sent}" class="text-warning">Order will be sent automatically</label>
                        <label th:if="*{sent}" id="order-sent">Order has been sent</label>
                    </div>
                </form>

            </div>
            <form action="#" th:object="${restaurant}" method="post">

                <h5><span>Restaurant Info</span></h5>

                <!--<div class="form-group col-xs-6">-->
                <!--<label for="id">ID:</label>-->
                <!--<label th:field="*{id}" id="id" th:text="*{id}"></label>-->
                <!--</div>-->

                <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <label th:field="*{name}" id="name" th:text="*{name}"></label>
                </div>
                <div class="form-group col-md-6">
                    <label for="address">Address:</label>
                    <label th:field="*{address}" id="address" th:text="*{address}"></label>
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone:</label>
                    <label th:field="*{phone}" id="phone" th:text="*{phone}"></label>
                </div>
                <div class="form-group col-md-6">
                    <label for="menuUrl">Menu:</label>
                    <label th:field="*{menuUrl}" id="menuUrl">
                        <a th:href="@{'/download/'+${fileName}}"
                           th:value="${fileName}" th:id="fileName"
                           th:name="fileName" th:text="*{name}">Download</a></label>

                </div>
                <!--<div class="form-group col-md-6">-->
                <!--<label for="menuUrl">Menu:</label>-->
                <!--<label th:field="*{menuUrl}" id="menuUrl"><a th:href="*{menuUrl}" th:text="*{name}"-->
                <!--target="_blank"></a></label>-->
                <!--</div>-->
                <div class="form-group col-md-6">
                    <label for="deliveryInfo">Delivery Info:</label>
                    <label th:field="*{deliveryInfo}" id="deliveryInfo" th:text="*{deliveryInfo}"></label>
                </div>
                <div class="form-group col-md-6">
                    <label for="additionalCharges">Additional Charges:</label>
                    <label th:field="*{additionalCharges}" id="additionalCharges"
                           th:text="*{additionalCharges}"></label>
                </div>
            </form>

        </div>
        <!--<div class="row">-->
        <div class="form-group col-md-6" id="newItemContainer">
            <h1><span>Add Item to the Group Order</span></h1>
            <form id="newItemForm" th:action="@{'/restaurant/'+${restaurant.id}+'/addItems/'+${order.id}}"
                  th:object="${item}"
                  method="post">


                <div class="form-group col-md-8">
                    <label for="itemCreator">Employee</label><br/>
                    <i id="creator-error-info"></i>
                    <label th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}"
                           class="validation-message text-warning"></label>
                    <input type="text" th:field="*{creator}" class="form-control" id="itemCreator"
                           placeholder="enter your name">
                </div>

                <div class="form-group col-md-8">
                    <label for="itemName">Item Name</label><br/>
                    <i id="item-error-info"></i>
                    <label th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"
                           class="validation-message text-warning"></label>
                    <input type="text" th:field="*{itemName}" class="form-control" id="itemName"
                           placeholder="enter item">
                </div>

                <div class="form-group col-md-8">
                    <label for="itemPrice">Price</label><br/>
                    <i id="price-error-info"></i>
                    <!--<label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"-->
                    <!--class="validation-message text-warning"></label>-->
                    <input type="number" th:field="*{price}" class="form-control" id="itemPrice" step="0.50"
                           placeholder="enter price">
                </div>

                <div class="form-group col-md-8">
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary mr-3">
                            Create Order
                        </button>

                        <td><a class="btn btn-info mr-3" th:href="@{/restaurant/home}">Back</a></td>

                    </div>
                    <div class="form-group">
                        <div id="fadeOutMessage" th:if="${orderCreated}"><p class="text-info">Order has beed
                            successfully created</p></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--</div>-->
    <!--<div th:replace="listOfItems::listOfItems" id="div">-->
    <div id="itList"></div>
    <div class="form-group float-right" th:if="${not #lists.isEmpty(order.getItems()) and not order.autoSend}">
        <a class="btn btn-warning " id="send-email"
           th:href="@{'/restaurant/'+ ${restaurant.id}+' /addItems/'+${order.id}+'/send'}">Send Order</a>
    </div>
    <div  th:if="${#lists.isEmpty(order.getItems())}" id="mail-not-sent">
        <label class="text-warning " >Mail is not sent, list is empty
        </label>
    </div>

</div>
<!--</div>-->
</body>
</html>