<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>
<nav th:replace="common/header :: navigation"></nav>
<div class="container">
    <!--<div class="row">-->
    <div class="center-block">
        <h1><span th:if="${addNew}">Add new Restaurant</span><span
                th:if="${editRest}">Edit Restoraunt Details</span><span
                th:if="${restaurantDetails}">Restaurant Details</span></h1>
        <form id="restaurantForm" th:action="@{/restaurant/admin/saveRestaurant}" th:object="${restaurant}"
              enctype="multipart/form-data"
              method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input th:field="*{id}" type="hidden">
                    <label for="name">Name</label>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message text-warning"></label>
                    <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                           class="validation-message text-warning"></label>
                    <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                       class="validation-message text-warning"></label>
                <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="06x xx xx xxx">
            </div>


            <!--<div class="form-group">-->
            <!--<label for="menuUrl">Menu Url</label>-->
            <!--<label th:if="${#fields.hasErrors('menuUrl')}" th:errors="*{menuUrl}"-->
            <!--class="validation-message text-warning"></label>-->
            <!--<input type="text" th:field="*{menuUrl}" class="form-control" id="menuUrl" placeholder="url">-->
            <!--</div>-->
            <div class="form-group">
                <!--<label for="file">Example file input</label>-->
                <!--<label for="file" th:text="${message}" class="validation-message text-warning">Example file input</label>-->
                <label th:if="${#fields.hasErrors('menuUrl')}" th:errors="*{menuUrl}"
                       class="validation-message text-warning"></label>
                <input type="file" name="file" class="form-control-file" id="file">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="validation-message text-warning"></label>
                <input th:field="*{email}" type="text" class="form-control" placeholder="Email">
            </div>

            <div class="form-group">
                <label><strong>Delivery Info</strong></label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="deliveryTime">Delivery Time</label>
                        <select th:field="*{deliveryInfo}" id="deliveryTime" class="form-control">
                            <option selected th:value="0">Choose...</option>
                            <option th:each="delivery: ${deliveryTimeList}" th:value="${delivery}"
                                    th:text="${delivery}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="additionalCharges">Additional Charges</label>
                        <label th:if="${#fields.hasErrors('additionalCharges')}" th:errors="*{additionalCharges}"
                               class="validation-message text-warning"></label>
                        <input type="text" class="form-control" id="additionalCharges" th:field="*{additionalCharges}">
                    </div>

                </div>
            </div>
            <span th:text="${successMessage}"></span>

            <div class="form-group col-md-6" sec:authorize="hasAuthority('ADMIN')">
                <label><strong>Actions</strong></label>
                <div class="form-row">
                    <button th:if="not ${hideBtn}" type="submit" class="btn btn-primary mr-3" th:text="${addName}">
                        Add New Restaurant
                    </button>
                    <!--<div class="form-group col-md-6">-->
                    <div th:if="${restaurantDetails}">
                        <td><a class="btn btn-warning editRest mr-3"
                               th:href="${'/restaurant/admin/editRestaurant/'+restaurant.id}"
                               th:value="${restaurant.id}">Edit</a></td>
                        <td><a class="btn btn-danger deleteRest mr-3"
                               th:href="${'/restaurant/admin/deleteRestaurant/'+restaurant.id}"
                               th:value="${restaurant.id}">Delete</a></td>
                    </div>
                    <td><a class="btn btn-info mr-3" th:href="@{/restaurant/home}">Back</a></td>
                    <!--</div>-->
                </div>
            </div>
            <div class="form-row">
                <td sec:authorize="isAnonymous()"><a class="btn btn-info mr-3" th:href="@{/restaurant/home}">Back</a></td>
            </div>
        </form>
    </div>
    <!--</div>-->
</div>
</body>
</html>