<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>
<nav th:replace="common/header :: navigation"></nav>
<div class="container">
    <!--<div class="row">-->
    <div class="form-group col-md-6">
        <h1><span>Create New Group Order</span></h1>
        <form id="newOrderForm" th:action="@{'/restaurant/'+${restaurant.id}+'/createOrder'}" th:object="${groupOrder}"
              method="post">
            <div class="form-group">
                <label for="creator">Creator</label>
                <i id="creator-error-info"></i>
                <input type="text" th:field="*{creator}" class="form-control" id="creator"
                       placeholder="enter your name">
                <label th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}"
                       class="validation-message text-warning"></label>
            </div>
            <div class="form-group">
                <label for="timeout">Timeout </label>
                <select th:id="timeout" th:name="timeout" id="timeout" class="form-control">
                    <option th:each="timeout: ${timeouts}" th:value="${timeout}"
                            th:selected="${timeout}==10? true:false"
                            th:text="${timeout}"></option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input th:field="*{autoSend}" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="autoSend">Send order automatically</label>
                </div>
                <!--<label th:if="${#fields.hasErrors('autoSend')}" th:errors="*{autoSend}"-->
                <!--class="validation-message text-warning"></label>-->
            </div>

            <div class="form-group col-md-6">
                <div class="form-row">
                    <button type="submit" class="btn btn-primary mr-3">
                        Create Order
                    </button>

                    <td><a class="btn btn-info mr-3" th:href="@{/restaurant/home}">Back</a></td>

                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>