<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Order</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            margin: 0 auto;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            text-align: center;
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            color: #333;
        }

        table {
            text-align: left;
            line-height: 40px;
            border-collapse: separate;
            border-spacing: 0;
            border: 2px solid #ed1c40;
            width: 500px;
            /*margin: 50px auto;*/
            border-radius: .25rem;
        }
        div{
            align-content: center;
        }
        thead tr:first-child {
            background: #ed1c40;
            color: #fff;
            border: none;
        }

        th:first-child,
        td:first-child {
            padding: 0 15px 0 20px;
        }

        th {
            font-weight: 500;
        }

        thead tr:last-child th {
            border-bottom: 3px solid #ddd;
        }

        tbody tr:hover {
            background-color: #f2f2f2;
            cursor: default;
        }

        tbody tr:last-child td {
            border: none;
        }

        tbody td {
            border-bottom: 1px solid #ddd;
        }

        td:last-child {
            text-align: right;
            padding-right: 10px;
        }

        table caption {
            background: #ed1c40;
            color: white;
        }

    </style>
</head>
<body>

<div style="align-content: center">
    <h1>ORDER <span th:text="${order.id}"></span></h1>
    <p>Person of interest <span th:text="${order.creator}"></span></p>
    <div th:replace="listOfItems:: listOfItems"></div>
</div>
</div>
</body>
</html>