<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="common/header :: common-header">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="listOfItems" th:if="${not #lists.isEmpty(order.getItems())}">

    <table class="table table-striped table-dark table-hover container">
        <caption><i>List of all items in the order <span th:text="${order.id}"></span></i></caption>
        <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${order.getItems()}">
            <td th:text="${item.creator}">Employee</td>
            <td th:text="${item.itemName}">Name</td>
            <td th:text="${item.price}">Price</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b class="text-warning h2" th:text="${#aggregates.sum(order.items.![price])}" /></td>
        </tr>
        </tbody>

    </table>
</div>
</div>
</body>
</html>