<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->

    <title>Title</title>
</head>
<body>
<nav th:replace="common/header ::navigation"></nav>



<i class="fa fa-check-square-o"></i><i class="fa fa-check-square-o"></i><i class="fa fa-check-square-o"></i>
<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-12 text-center py-2">-->
            <a href="#loginModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Login</a>
        <!--</div>-->
    <!--</div>-->
</div>

<div th:fragment="myModal" id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form th:action="@{/login}" class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                    <div class="form-group">
                        <a th:href="@{/registration}" class="float-right">New user?</a>
                        <label for="username">Username</label>
                        <input class="form-control form-control-lg" name="username" id="username" required="" type="text">
                        <div class="invalid-feedback">Oops, you missed this one.</div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control form-control-lg" id="password" name="password" required="" autocomplete="new-password" type="password">
                        <div class="invalid-feedback">Enter your password too!</div>
                    </div>

                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
                    </div>

            <div class="form-group py-4">
                <button class="btn btn-outline-secondary btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>

