<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/header :: common-header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->

    <title>Laravel</title>
</head>
<body>
<nav th:replace="common/header:: navigation"></nav>
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel" >
    <div class="container">
        <!--<a class="navbar-brand" th:href="@{/restaurant/home}">Munchies</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Login</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/registration}">Register</a>-->
                <!--</li>-->
            </ul>

        </div>
    </div>
</nav>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="username" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <!--<div class="form-group row">-->
                                <!--<div class="col-md-6 offset-md-4">-->
                                    <!--<div class="checkbox">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox" name="remember"> Remember Me-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="col-md-6 offset-md-4 ">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <!--<div class="text-right">-->
                                <a class="btn btn-secondary float-right" th:href="@{/registration}">Register</a>
                                <!--<a href="#" class="btn btn-link">-->
                                    <!--Forgot Your Password?-->
                                <!--</a>-->
                                <!--</div>-->
                            </div>
                            <div align="center" th:if="${param.error}">
                                <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
                            </div>
                    <!--</div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>