<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/registrationForm.css}"/>
    <script type="text/javascript" th:src="@{/js/registrationForm.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="common/header:: navigation"></nav>
<div class="container">
    <form class="form-horizontal" role="form" th:action="@{/registration}" method="post" th:object="${user}">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                   class="validation-message text-warning"></label>
            <div class="col-sm-9">
                <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus th:field="*{firstName}">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                   class="validation-message text-warning"></label>
            <div class="col-sm-9">
                <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus th:field="*{lastName}">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Phone number </label>
            <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                   class="validation-message text-warning"></label>
            <div class="col-sm-9">
                <input  th:field="*{phone}"  placeholder="Phone number" class="form-control">
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Address </label>
            <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                   class="validation-message text-warning"></label>
            <div class="col-sm-9">
                <input type="text" id="address" placeholder="Address" class="form-control" th:field="*{address}">
                <span class="help-block">Address</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email* </label>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                   class="validation-message text-warning"></label>
            <div class="col-sm-9">
                <input th:field="*{email}" type="text" id="email" placeholder="Email" class="form-control" name="email" >
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password*</label>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="validation-message text-warning"></label>
            <div class="col-sm-9">
                <input th:filed="*{password}" type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <span th:text="${successMessage}"></span>
        <button type="submit" class="btn btn-primary ">Register</button>
    </form> <!-- /form -->
</div> <!-- ./container -->
</body>
</html>