<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>
<nav th:replace="common/header :: navigation"></nav>
<div class="">

    <div class="container">
    <h1>Restaurant List</h1>
    <table class="table table-striped table-dark table-hover">
        <caption><i>List of all restaurants</i></caption>
        <thead>
        <tr>
            <th scope="col">Restaurant Name</th>
            <th scope="col">Short Name</th>
            <th scope="col">Adresa</th>
            <th scope="col">Phone</th>
            <th scope="col">Menu url</th>
            <th scope="col">Delivery Info</th>
            <th scope="col">Additional Charges </th>
            <th scope="col" class="text-xl-right">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant:${restaurantList}">
            <td th:text="${restaurant.name}">Name</td>
            <td th:text="${restaurant.getShortName()}">Short</td>
            <td th:text="${restaurant.address}">Address</td>
            <td th:text="${restaurant.phone}">Phone</td>
            <td ><a th:text="${restaurant.name}+' menu'" th:href="${restaurant.menuUrl}" target="_blank">Menu</a></td>
            <td th:text="${restaurant.deliveryInfo}">Delivey Info</td>
            <td th:text="${restaurant.additionalCharges}">>Additional Charges</td>
            <td><a class="btn btn-success" th:href="${'/restaurant/restaurantDetails/'+restaurant.id}" th:value="${restaurant.id}"><i class="fa fa-skull-crossbones mr-1">Details</i></a></td>
            <td ><a th:href="@{'/restaurant/'+${restaurant.id}+'/newGroupOrder'}" class="btn btn-secondary" th:value="${restaurant.id}"><i class="fa fa-paper-plane mr-1"> New Group Order</i></a></td>
            <td ><a th:href="@{'/restaurant/'+${restaurant.id}+'/activeOrders'}" class="btn btn-secondary" th:value="${restaurant.id}" ><i class="fas fa-skull" style="color: #f93636"> Orders</i></a></td>
            <!--<td><a class="btn btn-warning editRest" th:href="${'/restaurant/editRestaurant/'+restaurant.id}" th:value="${restaurant.id}">Edit</a></td>-->
            <!--<td><a class="btn btn-danger deleteRest" th:href="${'/restaurant/deleteRestaurant/'+restaurant.id}" th:value="${restaurant.id}">Delete</a></td>-->
        </tr>
        </tbody>
    </table>
        <!--sec:authorize="hasAuthority('ADMIN')"-->
        <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary"  th:href="${'/restaurant/admin/addRestaurant'}" >Add new Restaurant<span class="sr-only">(current)</span></a>
    </div>

</div>

</body>
</html>